{% load i18n %}

<div class="featured-block vertical-scroller">
    <h2>{% trans "Twitter" %}</h2>
    <table width="100%">
    {% for tweet in tweets %}
        <tr>
            <td><img src="{{ tweet.profile_image_url }}"/></td>
            <td>
                <a href="http://twitter.com/{{ tweet.from_user }}">{{ tweet.from_user }}</a>
                {{ tweet.text }}
                <div class="tweetInfo">{{ tweet.created_at }}</div>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
