{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Please set your new password" %}</h1>

<form method="post" action=".">{% csrf_token %}
   
       {{form.old_password.errors}}
       <p class="required"><label for="id_old_password">Old password:</label> <input type="password" name="old_password" id="id_old_password" /></p>
       {{form.new_password1.errors}}
       <p class="required"><label  for="id_new_password1">New password:</label> <input type="password" name="new_password1" id="id_new_password1" /></p>
       {{form.new_password2.errors}}       
       <p class="required"><label  for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" id="id_new_password2" /></p>


        <p>
            <input type="submit" class="btn" value="{% trans 'Change' %}" />
        </p>
    </ul>

</form>
{% endblock %}
