* { margin: 0; padding: 0 }

body { background: #fff; color: #555; font: 14px/1.5 "Trebuchet MS", sans-serif }

a, a:link { color: #1ac; text-decoration: none; -webkit-transition: all .4s ease; -moz-transition: all .4s ease }
a:visited { color: #1ac }
a:hover { color: #812 }
a:active {  }

a img { border: 0 }

fieldset { border: 0 }

h1, h1 a { color: #1ac; font-size: 22px; font-weight: normal; text-decoration: none; line-height: 28px }
h1 a { padding: 0 0 2px 0 }

h1, h2, h3, h4, h5, p, ul, ol, ol li { margin: 0 0 15px 0 }
h2 { line-height: 22px; font-size: 16px }

ol { margin-left: 20px }

.grid { margin: 0 auto; width: 940px; padding: 35px 0 50px 0 }
	.grid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }

.pdf { background: url(../gfx/pdf.png) no-repeat 100% 4px; padding-right: 22px }
.intro { font-style: italic }
.image { font-size: 11px; color: #999; border-bottom: 1px solid #ddd; margin: 0 20px 15px 0; float: left; width: 50% }
	.image img { width: 100% !important }
	
.image2 { font-size: 11px; color: #999; border-bottom: 1px solid #ddd; margin: 0 20px 15px 0; float: left; width: 100% }
	.image2 img { width: 100% !important }

#head { background: transparent; height: 195px; width: 940px; margin: 0 auto; position: relative }
	#head img { float: left; margin: 40px 0 0 0 }
	#head form { width: 300px; display: block; float: right; margin: 40px 0 0 0 }
		#head form input { background: #f7f7f7; border: 1px solid #aaa; width: 220px; height: 26px; line-height: 26px; font-size: 14px; font-family: "Trebuchet MS", sans-serif; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 0 0 0 4px }
		#head form input#search-button { background: #fff; border: 0; color: #777; width: 60px; cursor: pointer; padding: 0 }
			#head form input#search-button:hover { color: #1ac }

	#head p strong { display: block; float: left; margin: 100px 0 0 -50px; width: 320px; font-weight: normal }
	#head small { float: right; margin: 30px 20px 0 0; width: 280px; color: #812; font-size: 14px }

#menu { background: url(../gfx/menu-bg.png) top center repeat-y; height: 46px; line-height: 46px; font-size: 14px }
	#menu ul { background: #841127; width: 930px; margin: 0 auto; padding: 0 0 0 10px; height: 46px; list-style: none; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px }
	#menu li { display: inline; }
	#menu a { color: #fff; display: block; line-height: 28px; padding: 10px 15px; float: left; height: 26px }
		#menu a:hover { background: transparent url(../gfx/indicator.png) bottom no-repeat }

#content { width: 550px; float: left }
	.post { border-bottom: 1px solid #ddd; padding: 15px 0; margin: 0 0 20px 0 }
	.post:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
		#post-meta { padding: 15px 0 0 0 }
			#post-meta h3 { font-size: 16px; background: url(../gfx/author.png) no-repeat }
			#post-meta h3, #post-meta p { margin: 0; padding: 0 0 0 18px }
		.post-meta, .comment-meta { font-size: 11px; color: #888; text-transform: uppercase }
			.post-meta a, .comment-meta a { color: #888; border-bottom: 1px solid #eee }
			.post-meta a:hover, .comment-meta a:hover { color: #812 }
		.more a { background: #fbffe6; border: 1px solid #ddb; padding: 4px 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px }
	.post img { float: left; display: inline; margin: 3px 15px 15px 0 }
	#sponsors { width: 100%; border-top: 1px solid #ddd; padding: 20px 0; margin: 40px 0; float: left; clear: both }
		#sponsors img { margin: 0 40px 0 0 }
	#comments {}
		#comments h2 { color: #812; margin: 0 }
		.comment { background: #f3f3f3; padding: 25px 25px 15px 25px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin: 0 0 20px 0 }
			.comment .author { color: #999; font-style: italic }
				.comment .author strong { color: #444; font-weight: bold; font-style: normal; background: url(../gfx/comment.png) no-repeat; padding: 0 0 0 23px }
		
#secondary { width: 300px; float: right }
	#login, #tags { background: #fbffe6; border: 1px solid #ddb; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 15px 20px; margin: 15px 0 }
	#tags { margin: 30px 0 }
		#tags p { margin: 0 }
	#share { margin: 0 0 0 18px }
		#secondary #login p { margin: 0; font-size: 14px }
	.box { border-bottom: 1px solid #ddd; padding: 15px 0 }
	.box a { color: #555 }
	.box a:hover { color: #812; text-decoration: underline }
	#secondary h2 { color: #812; font-size: 16px }
	#secondary li, #secondary p { font-size: 13px; list-style: none }		
	.box .more a { border: 0; padding: 0; background: transparent }

#about { background: #812; clear: both; font-size: 13px }
	#about a { color: #4de }
	#about a:hover { text-decoration: underline }
	#about:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
	#about .grid, #foot { width: 960px; margin: 0 auto; padding: 40px 0 30px 0; color: #fff }
	#about p { float: left; width: 310px }
	#about p#cc { width: 540px; display: inline; margin-left: 90px }
		#cc img { margin: 10px 0 0 0 }
	
#foot { color: #999; font-size: 12px }

@media screen and (max-width: 480px) {
	#head { padding: 20px; width: auto }
	#head img { margin: 20px 0 }
	#head form { float: left; padding: 0; margin: 20px 0 0 0; width: auto }
		#head form input[type='text'] { width: 200px }
	#head p strong { float: left; margin: 0; width: auto }
	#head small { float: left; color: #812; font-size: 14px; width: auto }

  	#menu { width: 100%; margin: 20px 0; background: none; float: left }
  		#menu:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
		#menu ul { padding: 0; list-style: none; background: transparent; width: 100% }
		#menu a { background: #841127; display: block; width: 45%; color: #fff; padding: 5px 0 5px 5%; float: left; border-bottom: 1px solid #fff }
			#menu a:hover { background: #400 }
	#secondary, #sponsors { float: none; clear: both; border: 0 }
	#secondary { width: auto }
	#content { padding-top: 50px }
	#about .grid, #foot, #content, .grid { width: auto; clear: both }
	#about { padding: 0 20px }
	#about p { width: auto }
	#about p#cc { width: auto; margin: 0 }
	.grid { padding: 40px 20px 0 20px }
	#content, #sponsors { clear: both }
	#sponsors img { margin: 0 30px 20px 0 }
	#foot { padding: 20px }
}
