* {
    margin: 0;
    padding: 0
}
body {
    background: #fff;
    color: #555;
    font: 14px/1.5"Trebuchet MS", sans-serif
}
a, a:link {
    color: #1ac;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease
}
a:visited {
    color: #1ac
}
a:hover {
    color: #812
}
a:active {
}
a img {
    border: 0
}
fieldset {
    border: 0
}
h1, h1 a {
    color: #1ac;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    line-height: 28px
}
h1 a {
    padding: 0 0 2px 0
}
h1, h2, h3, h4, h5, p, ul, ol, ol li {
    margin: 0 0 15px 0
}
h2 {
    line-height: 22px;
    font-size: 16px
}
ol {
    margin-left: 20px
}
ul.errorlist {
    color: red;
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}
li{
    list-style-position: inside;
}
blockquote {
    font-family: georgia, serif;
    font-style: italic
}
.pdf {
    background: url(../gfx/pdf.png) no-repeat 100% 4px;
    padding-right: 22px
}
.intro {
    font-style: italic
}
.figure {
    display: block;
}
.picture {
    display: block;
}
.image {
    font-size: 11px;
    color: #999;
    border-bottom: 1px solid #ddd;
    margin: 0 20px 15px 0;
    float: left;
    width: 50%
}
.image img {
    width: 100% !important
}
.image2 {
    font-size: 11px;
    color: #999;
    border-bottom: 1px solid #ddd;
    margin: 0 20px 15px 0;
    float: left;
    width: 100%
}
.image2 img {
    width: 100% !important
}
.caption {
    font-size: 11px;
    color: #999;
    border-bottom: 1px solid #ddd;
    margin: 0 20px 15px 0;
    width: 300px
}
.info {
    color: red;
    font-weight: bold
}
.required label:after {
    padding-left: 2px;
    color: red;
    content:"*";
}
.line-block {
    margin: 5px;
}
.line {
    font-style: italic;
}
#head {
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 30px;
}
#head .brand {
    position: relative;
}
#head .brand-logo {
    margin-top: 30px;
    padding-bottom: 30px;
}
#head .brand-info {
    position: absolute;
    top: 90px;
    left: 170px;
}
#head .tbcab-brand {
    text-align: right;
    width: 100%;
    position: absolute;
    top: 37px;
    left: 0px;
    /*right: 110px;*/
}
#head .tbcab-brand-img {
}
#head .tbcab-brand-text {
    position: absolute;
    top: 82px;
    right: 0px;
    font: 14px/1.5 "Trebuchet MS", sans-serif;
}
#head #search {
    position: absolute;
    top: 150px;
    right: -15px;
}
#menu {
    /*background: url(../gfx/menu-bg.png) top center repeat-y;*/
    /*height: 46px;*/
    line-height: 46px;
    font-size: 14px;
    background: #841127;
}
/* navbar */
 .navbar-default {
    background-color: #841127;
    border-color: #841127;
    margin-bottom: 50px;
}
.navbar-default .navbar-brand {
    color: #fff;
}
/* mobile version */
 .navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(182, 152, 152);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#menu ul {
    /*height: 46px;*/
    /*    list-style: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px*/
}
#menu li {
    /*display: inline;*/
}
#menu a {
    color: #fff;
    /*    display: block;
    line-height: 28px;
    padding: 10px 15px;
    float: left;
    height: 26px*/
}
#menu a:hover {
    background: transparent url(../gfx/indicator.png) bottom no-repeat
}
#content {
}
.post {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin: 0 0 20px 0
}
.post:after {
    content:".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
#post-meta {
    padding: 15px 0 0 0;
    font-size: 14px;
    margin-bottom: 30px;
}
#post-meta h3 {
    font-size: 14px;
    margin-bottom: 3px;
    background: url(../gfx/author.png) no-repeat
}
#post-meta h3, #post-meta p {
    margin: 0;
    padding: 0 0 0 18px
}
#post-meta .post-category{
    margin-bottom: 13px;
}
.post-meta, .comment-meta {
    font-size: 11px;
    color: #888;
    text-transform: uppercase
}
.post-meta a, .comment-meta a {
    color: #888;
    border-bottom: 1px solid #eee
}
.post-meta a:hover, .comment-meta a:hover {
    color: #812
}
.more a {
    background: #fbffe6;
    border: 1px solid #ddb;
    padding: 4px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.post img {
    float: left;
    display: inline;
    margin: 3px 15px 15px 0;
}
.post-entry .post img{
    max-width: 45%;
    max-height: 45%;
}
#sponsors {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    margin: 40px 0;
    float: left;
    clear: both
}
#sponsors img {
    margin: 0 40px 0 0
}
#comments {
}
#comments h2 {
    color: #812;
    margin: 0
}
.comment {
    background: #f3f3f3;
    padding: 25px 25px 15px 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0 0 20px 0
}
.comment .author {
    color: #999;
    font-style: italic
}
.comment .author strong {
    color: #444;
    font-weight: bold;
    font-style: normal;
    background: url(../gfx/comment.png) no-repeat;
    padding: 0 0 0 23px
}
#secondary {
    padding-left: 50px;
}
#login, #tags {
    background: #fbffe6;
    border: 1px solid #ddb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 15px 20px;
    margin: 15px 0
}
#tags {
    margin: 30px 0
}
#tags p {
    margin: 0
}
#share {
    margin: 0 0 0 18px
}
#secondary #login p {
    margin: 0;
    font-size: 14px
}
.box {
    border-bottom: 1px solid #ddd;
    padding: 15px 0
}
.box a {
    color: #555
}
.box a:hover {
    color: #812;
    text-decoration: underline
}
#secondary h2 {
    color: #812;
    font-size: 16px
}
.box .more a {
    border: 0;
    padding: 0;
    background: transparent
}
#twitter h2 {
    background: url(../gfx/twitter.png) no-repeat right
}
.tweet img {
    float: left;
    padding: 5px 10px 10px 0 display: block;
}
.tweet em span {
    color: #1ac;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    display: block;
}
footer {
    margin-top: 30px;
    color: #fff;
}
footer .copyright {
    color: #999;
    padding: 30px;
}
#about {
    background: #812;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#about a {
    color: #4de
}
#about a:hover {
    text-decoration: underline
}
#about p {
    padding: 26px 0px;
}
#about p#cc {
    width: 540px;
}
#cc img {
    margin: 10px 0 0 0
}
#submit-article-form .hidden {
    float: right;
    height: 0;
    width: 0;
    opacity: 0;
    filter:alpha(opacity: 0);
}
#submit-article-form form input {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 220px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#submit-article-form form input.del-file {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#submit-article-form form input[type=text] {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 595px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#submit-article-form form textarea {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 500px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#contact-form form input {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 220px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#contact-form form textarea {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 500px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#comment-form form input {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 220px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#comment-form form textarea {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 500px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#registration-form form input {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 220px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
#login-form form input {
    background: #f7f7f7;
    border: 1px solid #aaa;
    width: 220px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family:"Trebuchet MS", sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 0 0 4px
}
/* google custom search*/
 #search .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    background-image: inherit;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
#search div#gsc-iw-id1 {
    height: 29px;
    width: 350px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: right;
}
#search #gs_cb50 {
    font: 20px arial, sans-serif !important;
}
#search .gsc-selected-option-container {
    width: 80px !important;
}
.tagcloud .li {
    display: inline;
}
.tagcloud .size-1 {
    font-size: 15px
}
.tagcloud .size-2 {
    font-size: 20px
}
.tagcloud .size-3 {
    font-size: 23px
}
.tagcloud .size-4 {
    font-size: 25px
}
.tagcloud .size-5 {
    font-size: 30px
}
.tagcloud .size-6 {
    font-size: 33px
}
.tagcloud .size-7 {
    font-size: 38px
}
