<div id="footer-logo">
    
    <a title="Treatment Action Campaign" href="http://www.tac.org.za/"><img src="{{STATIC_URL}}tb/images/tac_logo.png" alt="TAC" /></a> 
    
    <a title="Treatment Action Group" href="http://www.treatmentactiongroup.org/"><img src="{{STATIC_URL}}tb/images/tag_logo.jpeg" alt="TAG" /></a>
    
    <a title="HIV i-Base" href="http://i-base.info/"><img src="{{STATIC_URL}}tb/images/ibase_logo.png" alt="i-Base" /></a>
    
    <a title="European AIDS Treatment Group" href="http://www.eatg.org/"> <img src="{{STATIC_URL}}tb/images/eatg_logo.jpg" alt="EATG"/></a>

    <a title="South Africa Development Fund" href="http://www.sadevelopmentfund.org/"> <img src="{{STATIC_URL}}tb/images/sadf_logo.jpeg" alt="SADF"/></a>
     
    <a title="Community Media Trust" href="http://www.cmt.org.za/"><img src="{{STATIC_URL}}tb/images/cmt_logo.png" alt="CMT" /></a>     
 
 </div>

<p>TB Online is supported by the Treatment Action Campaign, Community Media Trust, 
Treatment Action Group, European AIDS Treatment Group and HIV i-Base.</p>
 
<p>
The original material on this site is licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
Creative Commons Attribution 3.0 Unported License</a>. Articles and images provided 
by 3rd-parties are subject to their  licenses, though we strive to use free and open source materials  wherever possible.
</p>
<p>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
<img style="border-width: 0pt;" src="{{STATIC_URL}}tb/images/creativecommons_88_31.png" alt="Creative Commons Licence" />
</a>

</p>
