{% extends "base.html" %}

{% load i18n %}
{% load feed %}

{% block title %}{{block.super}} - Home{% endblock %}

{% block scripts %}
<script type='text/javascript' src='{{ STATIC_URL }}jquery/jquery.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}jquery/jquery-tmpl.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}knockout/knockout-1.2.1.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}twitter/twitterApi.js'> </script>
{% endblock %}

{% block content %}

{% include "post/messages_snippet.html" %}

{% include "post/post_list_snippet.html" %}

{% include "post/paginator_snippet.html" %} 

{% endblock %}

{% block sidebar-1 %}

{% include 'sidebar_1_snippet.html' %}

{{block.super}}

{% endblock %}
