{% load i18n %}
{% load url from future %}

<div id="menu" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
    <li>
        {% url 'home' as index_url %}
        <a href="{{ index_url }}" {% if request.path == index_url %}class="current"{% endif %}>
        {% trans "Home" %}
        </a>
    </li>
    <li>
        <a href="/learn/" {% if request.path == "/learn/" %}class="current"{% endif %}>
        {% trans "TB Basics" %}
        </a>
    </li>
    <li>
        <a href="/medicines/" {% if request.path == "/medicines/" %}class="current"{% endif %}>
        {% trans "Medicines" %}
        </a>
    </li>
    <li>
        <a href="/diagnostics/" {% if request.path == "/diagnostics/" %}class="current"{% endif %}>
        {% trans "Diagnostics" %}
        </a>
    </li>
    <li>
        <a href="/pediatrics/" {% if request.path == "/pediatrics/" %}class="current"{% endif %}>
        {% trans "Pediatrics" %}
        </a>
    </li>

    <li>
        <a href="/vaccines/" {% if request.path == "/vaccines/" %}class="current"{% endif %}>
        {% trans "Vaccines" %}
        </a>
    </li>

    <li>
        <a href="/guidelines/" {% if request.path == "/guidelines/" %}class="current"{% endif %}>
        {% trans "Guidelines" %}
        </a>
    </li>
    <li>
        <a href="/advocacy/" {% if request.path == "/advocacy/" %}class="current"{% endif %}>
        {% trans "Advocacy Campaigns" %}
        </a>
    </li>

    <li>
        <a href="/tbcab/" {% if request.path == "/tbcab/" %}class="current"{% endif %}>
        {% trans "TB CAB" %}
        </a>
    </li>

    {% if perms.can_submit %}
    <li>
        {% url 'submit_article_list' as submit_url  %}
        <a href="{{ submit_url }}" {% if request.path == "/submit/" %}class="current"{% endif %}>
        {% trans "Your Posts" %}
        </a>
    </li>
    {% endif %}

    <li>
        {% url 'contact' as contact_url  %}
        <a href="{{ contact_url }}"{% if request.path == contact_url %}class="current"{% endif %}>
        {% trans "Contact" %}
        </a>
    </li>

    <li>
        <a href="/about/" {% if request.path == "/about/" %}class="current"{% endif %}>
        {% trans "About" %}
        </a>
    </li>


    {% if user.is_staff %}
        <li><a href="/admin/">{% trans "Admin" %}</a></li>
    {% endif %}
</ul>
</div>
