{% load url from future %}
{% load posttags %}
{% load i18n %}
{% load feed %}

{% with notification_name="post" %}
{% include "notifications/notify_posts_snippet.html" %}
{% endwith %}

<div class="box">
	<h2>{% trans "Learn about TB" %}</h2>
	<ul>
		<li><a href="{% url 'tb_patient_info'%}">{% trans "Questions and answers about TB" %}</a></li>
		<li><a href="/learn">{% trans "Simple tutorial on the science of TB" %}</a></li>
	</ul>
</div><!-- /box -->


<div class="box">
	<h2>Tag Cloud</h2>
	{% get_tag_cloud %}
	</ol>
</div><!-- /box -->


<div class="box">
<a href="https://www.facebook.com/pages/TB-Online/234621373332022?ref=ts&fref=ts" target="_blank"><img src="{{ STATIC_URL }}tb/gfx/facebook_64.png" /></a><br/>
<a href="https://www.facebook.com/pages/TB-Online/234621373332022?ref=ts&fref=ts" target="_blank" >Follow us on Facebook.</a>&nbsp;
</div>

<div class="box">
	<h2>Video Guide to TB</h2>
	<object width="280" height="230">
<iframe width="280" height="230" src="http://www.youtube.com/embed/videoseries?list=PL8236CC6402659B5E&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
	</object>
	<ul>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/3Qm-FzQ2TTk">Introduction</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/BZW6_b-tOgU"><strong>Ch. 1</strong> - Who can get TB?</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/QCZ-pj1xPHg"><strong>Ch. 2</strong> - The relationship between TB & HIV</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/vN-ig3lQ-Vs"><strong>Ch. 3</strong> - How do you identify TB?</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/9LpmOaX3qbI"><strong>Ch. 4</strong> - How TB is transmitted</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/DOcUa68o72o"><strong>Ch. 5</strong> - The interactions between TB & HIV</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/x-lMHizMHYE"><strong>Ch. 6</strong> - Diagnosing TB</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/c9txHNd6668"><strong>Ch. 7</strong> - Treating TB</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/AAcjAUremlA"><strong>Ch. 8</strong> - TB prophylaxis - this chapter is undergoing revision</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/jIm7lw2efXA"><strong>Ch. 9</strong> - Side effects of TB treatment</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/bnVG4cdBXWI"><strong>Ch. 10</strong> - Directly Observed Treatment Short-Course&nbsp;(DOTS)</a></li>
		<li><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/bnVG4cdBXWI"><strong>Ch. 11</strong> - Multi Drug Resistant TB (MDR-TB)</a></li>
	</ul>
	<p><a href="http://beatit.co.za/treatment-literacy-series-english/tb-and-hiv">{% trans "Watch the full HIV and TB treatment literacy programme free on the Beat-it website &rarr;" %}</a></p>

</div><!-- /box -->
