{% load url from future %}
{% load posttags %}
{% load i18n %}
{% load feed %}

<script type="text/javascript">

 function unhide(divID, moreLessID) {
    var item = document.getElementById(divID);
    
    if (item) {
        item.className=(item.className=='hidden')?'unhidden':'hidden';
    }
     
    item = document.getElementById(moreLessID);
    
    if (item) {
        item.className=(item.className=='more')?'less':'more';
    }
   
 }
 
 </script>

<div class="featured-block">
    <h2>{% trans "Quick Information" %}</h2>
    <ul>
    <li><a href="{% url 'tb_patient_info'%}">{% trans "For people with TB or at risk of getting TB" %}</a></li>
    <li><a href="/activist_info/">{% trans "For activists who need to learn about TB" %}</a></li>
    </ul>
</div>

<div class="featured-block vertical-scroller">
    <h2><a href="{% url 'post_category_list' 'News'%}">{% trans "Latest TB news" %}</a></h2>
    {% get_posts_by_categories "News" as news_posts  %}

    <ul>
    {% for post in news_posts|slice:":25" %}
        <li>{{post.date_published|date:"d N"}}: <a href="{% url 'post_detail' post.date_published.year post.date_published.month post.date_published.day post.slug %}">{{post.title}}</a>
        <a id="news-more-{{forloop.counter}}" href="javascript:unhide('news-text-{{forloop.counter}}', 'news-more-{{forloop.counter}}');" class="more"></a>
        <div id="news-text-{{forloop.counter}}" class="hidden">{{post.get_teaser|safe}}</div>        
        </li>    
    {% endfor %} 
    </ul> 
</div>

<div class="featured-block">
<h2>Video guide to TB</h2>

<object width="280" height="230">
<param value="http://www.youtube.com/p/00229746BFBE20A8&amp;hl=en" name="movie"><embed width="280" height="230" src="http://www.youtube.com/p/00229746BFBE20A8&amp;hl=en" type="application/x-shockwave-flash">
</object>
<span style="color: rgb(204, 51, 0);"><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/3Qm-FzQ2TTk">Introduction</a><br>
<strong>Ch. 1 - </strong><a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/BZW6_b-tOgU">Who can get TB?</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch.</strong></span><span style="color: rgb(204, 51, 0);"><strong> </strong></span><span style="color: rgb(204, 51, 0);"><strong>2 </strong>- <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/QCZ-pj1xPHg">The relationship between TB &amp; HIV</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch.</strong></span><span style="color: rgb(204, 51, 0);"><strong> </strong></span><span style="color: rgb(204, 51, 0);"><strong>3</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/vN-ig3lQ-Vs">How do you identify TB?</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch.</strong></span><span style="color: rgb(204, 51, 0);"><strong> </strong></span><span style="color: rgb(204, 51, 0);"><strong>4</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/9LpmOaX3qbI">How TB is transmitted</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch.</strong></span><span style="color: rgb(204, 51, 0);"><strong> </strong></span><span style="color: rgb(204, 51, 0);"><strong>5</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/DOcUa68o72o">The interactions between TB &amp; HIV</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch. </strong></span><span style="color: rgb(204, 51, 0);"><strong>6</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/x-lMHizMHYE">Diagnosing TB</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch. </strong></span><span style="color: rgb(204, 51, 0);"><strong>7</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/c9txHNd6668">Treating TB</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch. </strong></span><span style="color: rgb(204, 51, 0);"><strong>8</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/AAcjAUremlA">TB prophylaxis</a></span><span style="color: rgb(204, 51, 0);"> <span style="color: rgb(0, 0, 0);">-</span> <span style="color: rgb(0, 0, 0);">this chapter is undergoing revision</span></span><span style="color: rgb(204, 51, 0);"><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch. </strong></span><span style="color: rgb(204, 51, 0);"><strong>9</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/jIm7lw2efXA">Side effects of TB treatment</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch. </strong></span><span style="color: rgb(204, 51, 0);"><strong>10</strong> - <a target="_blank" href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/bnVG4cdBXWI">Directly Observed Treatment Short-Course (DOTS)</a><br>
</span><span style="color: rgb(204, 51, 0);"><strong>Ch. 11</strong></span><span style="color: rgb(204, 51, 0);"> - <a href="http://www.beatit.co.za/flash/popup.php?videourl=http://www.youtube.com/v/JalM_mKGRws">Multi Drug Resistant TB (MDR-TB)</a></span>
<p>{% trans "Watch the full HIV and TB treatment literacy programme free on the" %} <a href="http://beatit.co.za/treatment-literacy-series-english/tb-and-hiv">{% trans "Beat-it website" %}</a>.</p>
</div>

<div class="featured-block">
<h2>{% trans "Recommended reading" %}</h2>
<ul>
<li><a title="Get tested for TB. It can be cured." href="http://www.tac.org.za/community/files/file/TBPamphlets/TBTreatmentbrochureEnglish.pdf">Get tested for TB: A simple pamphlet from the TAC</a></li>
<li><a title="Blogs from people living with drug-resistant TB" href="http://www.msf.org.za/">MSF's TB &amp; Me: Real stories of people living with drug-resistant TB</a></li>
<li><a title="TAG&rsquo;s annually updated report on drugs, diagnostics, vaccines, immune-based therapies  and preventative technologies in development for HIV, TB and hepatitis" href="http://www.treatmentactiongroup.org/publication.aspx?id=3798">TAG Pipeline Report: Drugs, diagnostics and vaccines in development for TB, HIV and hepatitis</a></li>
<li><a title="TAG&rsquo;s 2010 Report on Tuberculosis research funding trends" href="http://www.treatmentactiongroup.org/publication.aspx?id=4450">Tuberculosis funding trends: A report by the Treatment Action Group</a></li>
<li><a title="WHO recommendations on the implementation of the Gene Xpert TB diagnostic, March 2011" href="http://www.tbonline.info/wp-content/uploads/2011/03/who_xpert_implementation_document_final_draft_6_march.pdf">WHO Recommendations on the Implementation of the Gene Xpert</a></li>
</ul>
</div>

<div class="featured-block vertical-scroller">
	<h2>{% trans "Latest TB on Pubmed" %}</h2>
	{% get_feeder "latest-tb-public-library-medicine" as feed %}
	<ul>
	{% for entry in feed.get_rss_items|slice:"15" %}
	    <li><a href="{{entry.link}}">{{entry.title}}</a>
        <a id="pubmed-more-{{forloop.counter}}" href="javascript:unhide('pubmed-text-{{forloop.counter}}', 'pubmed-more-{{forloop.counter}}');" class="more"></a>
	    
	    <div id="pubmed-text-{{forloop.counter}}" class="hidden">{{entry.description|safe}}</div>
	    </li>
	{% empty %}
	    {% trans "There are currently no entries for this feed" %}.
	{% endfor %}
	</ul>
</div>
