{% load i18n %}
{% load url from future %}

<div id="main-menu">

<ul>
    <li>
        {% url 'home' as index_url %}
        <a href="{{index_url}}" {% if request.path == index_url %}class="current"{% endif %}>
        {% trans "Home" %} 
        </a>            
    </li>

    <li>
        <a href="/about/" {% if request.path == "/about/" %}class="current"{% endif %}>
        {% trans "About" %} 
        </a>            
    </li>

    <li>
        <a href="/contact/" {% if request.path == "/contact/" %}class="current"{% endif %}>
        {% trans "Contact" %} 
        </a>            
    </li>
    
    {% if user.is_staff %}
        <li><a href="/admin/">{% trans "Admin" %}</a></li>
    {% endif %}
    
</ul>

</div>