<p class="addtoany">
<!-- AddToAny BEGIN -->
<a href="{% url print_post post.slug %}"><img src="{{ STATIC_URL }}post/icons/print.jpg" alt="Print"/></a>
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fwww.tbonline.info&amp;linkname=Information%20for%20people%20with%20TB"><img src="{{STATIC_URL}}post/icons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"/></a>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkname = "{{post.title}}";
a2a_config.linkurl = "{{request.build_absolute_uri}}";
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</p>