{% load i18n %}
{% load comments %}

<h1 class="title">{{post.title}}</h1>

{% if post.subtitle %}
    <h2 class="title">{{post.subtitle}}</h2>
{% endif %}
    
{% include 'post/byline_snippet.html' %}
{% include 'post/dateline_snippet.html' %}

{% block media %}{% endblock %}

<div class="introduction">{{post.get_introduction|safe}}</div>

<div class="post-content">
 
    {% if post.pullout_text %}
    <div id="primary-pullout">
        {{post.pullout_text}}
    </div>
    {% endif %}

    <div class="post-body">{{post.body|safe}}</div>

</div>

<div class="post-information">

    {% include 'post/post_information_snippet.html' %} | 
    <span>
    {% include 'post/addtoany_snippet.html' %}
    </span>

</div>

<div id="comments-section">
    
    {% include 'post/comments_snippet.html' %}
    
</div>

{% if post.copyright %}
    {% with post.copyright as copyright %}
        <div id="copyright">
            {% include 'copyright/copyright_snippet.html' %}
        </div>
    {% endwith %}
{% endif %}
