{% extends "post/basicpost_detail_snippet.html" %}
{% load url from future %}
{% load fb_versions %}


{% block media %}

    <link rel="stylesheet" href="{{STATIC_URL}}anythingslider/css/page.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}anythingslider/css/anythingslider.css" type="text/css" media="screen" />

    <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}anythingslider/js/jquery.easing.1.2.js"></script>
    <script src="{{STATIC_URL}}anythingslider/js/jquery.anythingslider.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
    $(function(){
        $('#slider').anythingSlider({
        resizeContents : false,         
        delay: 10000,
        animationTime: 600,
        easing: "linear"          
        }); // add any non-default options here
    });
    </script>

    <ul id="slider">
        {% for image in post.gallery.images.all %}
    
            <li>
                <div id="textSlide">                
                    <img src=
                    "{% version_object image.file 'small' as theimage %}
                    {% if theimage.width %}
                        {{theimage}}
                     {% else %}
                        {{image.file}}
                    {% endif %}" 
                    alt={{image.title}}
                    width="550px"/>
                    <p class="slide-caption">{{image.caption}}</p>                    
                </div> 
           </li>
    
        {% endfor %}
    </ul>
            
{% endblock %}