{% extends "post/basicpost_list_snippet.html" %}

{% load url from future %}
{% load fb_versions %}

{% block media %}

    <div class="thumbprint left">  
       {% if post.image %}  

            <a href="{% url "image_view" post.image.id %}" title="{{post.image.title}}">
            {% with post.image as image %}
            {% with 'thumbnail' as preferred_size %}
            <img src="{% include 'gallery/image_snippet.html' %}" 
            alt={{post.image.title}}/> 
            </a>
            {% endwith %}
            {% endwith %}


       {% endif %}
    </div>

{% endblock %}    