{% extends "post/basicpost_detail_snippet.html" %}
{% load url from future %}
{% load thumbnail %}

{% block media %}

    {% if post.image %}

      <div class="picture">    
          <a href="{{post.url}}" title="{{post.caption}}">
          {% thumbnail post.image "300x200" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
          alt={{post.caption}}/>
          {% endthumbnail %} 
          </a>
          <p class="caption">
          {{post.caption|safe}}
          </p>
      </div>
    
    {% endif %}
    
{% endblock %}