{% extends "post/basicpost_detail_snippet.html" %}
{% load url from future %}
{% load fb_versions %}

{% block scripts %}

{{block.super}}

<!-- jQuery (required) -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

<!-- Optional plugins -->
<script type="text/javascript" src="{{STATIC_URL}}post/anythingslider/js/jquery.easing.1.2.js"></script>
<script type="text/javascript" src="js/swfobject.js"></script>

{% endblock %}

{% block stylesheets %}

{{block.super}}

<!-- Anything Slider -->
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/anythingslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/print.css" type="text/css" media="print" />
<script type="text/javascript" src="js/jquery.anythingslider.js"></script>

<!-- Add the stylesheet(s) you are going to use here. All stylesheets are included below, remove the ones you don't use. -->
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/theme-metallic.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/theme-minimalist-round.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/theme-minimalist-square.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/theme-construction.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}post/anythingslider/js/css/theme-cs-portfolio.css" type="text/css" media="screen" />

{% endblock %}

{% block media %}

    <script type="text/javascript">
    $(function(){
    $('#slider').anythingSlider(); // add any non-default options here
    });
    </script>

    <ul id="slider">
        {% for image in post.images %}
    
            <li></li>
    
        {% endfor %}
    </ul>
    
{% endblock %}