{% extends "base.html" %}
{% load url from future %}

{% load i18n %}

{% block title %}{{block.super}} - {{story.title}}{% endblock %}

{% block content %}

{% include 'post/messages_snippet.html' %}

<h1>{{story.title}}</h1>

{{story.description|safe}}

{% for post in story.get_posts %}

    <h2><a href=
    "{% if story.is_published %}
        {% url "story_post" story.id post.id %}
     {% else %}
        {% url "draft_story_post" story.id post.id %}
    {% endif %}">
    {{ post.title }}
    </a></h2>
    {{ post.teaser|safe }}

{% endfor %}

{% endblock %}