{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{{block.super}} - {% trans "Catalogues" %}{% endblock %}

{% block content %}


<h1>{% trans "Catalogues" %}</h1>

<p id="document-links">
<a href="{% url 'document-list' %}">{% trans "View all documents" %}</a>
</p>

{% for catalogue in catalogues %}
    <div class="catalogue-entry">
        <h2><a href="{% url 'catalogue-detail' catalogue.pk %}">{{catalogue.title}}</a></h2>
        {{catalogue.description|safe}}
    </div>
{% endfor %}

{% endblock %}