{% extends "base.html" %}
{% load i18n %}

{% block title %}{{block.super}} - {{catalogue.title}}{% endblock %}

{% block content %}


<h1>{{ catalogue.title }}</h1>
<p id="document-links">
<a href="{% url 'catalogue-list' %}">{% trans "View all catalogues" %}</a> 
| 
<a href="{% url 'document-list' %}">{% trans "View all documents" %}</a>
</p>

{{catalogue.description}}

{% with catalogue.documents.all as documents %}
<div id="document-list">
{% include 'list_documents_snippet.html' %}
</div>
{% endblock %}