{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{{block.super}} - {{document.title}}{% endblock %}

{% block content %}


<h1>{{document.title}}</h1>

<div id="document-description">
{{document.description}}
</div>

{% if document.file %}
    <div id="document-file">
    <p><a href="{{document.file}}">{% trans "Download the file" %}</a></p>
    </div>    
{% endif %}

{% if document.url %}
    <div id="document-url">
    <p><a href="{{document.url}}">{% trans "URL for this document an another website" %}</a></p>
    </div>
{% endif %}
    
{% if document.content %}
    <div id="document-content">
    {{document.content}}
    </div>    
{% endif %}


{% endblock %}
