{% load url from future %}
{% load i18n %}
{% load notification_tags %}

<div id="notification-message">
{% if user.is_authenticated %}
    {% is_comment_notified "comment" post as notified %}
    {% if not notified %} 
        <form name="notify" action="{% url 'notify_comment'  %}?next={{request.path}}" method="post">{% csrf_token %}
        <input type="hidden" name="name" value="{{notification_name}}" id="id_name" />
        <input type="hidden" name="app_label" value="{{notification_app_label}}" id="id_app_label" />
        <input type="hidden" name="model" value="{{notification_model}}" id="id_model" />
        <input type="hidden" name="pk" value="{{notification_pk}}" id="id_pk" />
        <input type="submit" value="{% trans "Email" %}"/>
        {% trans "me notice of new comments on this article." %}
        </form>
    {% else %}
        <form name="notify" action="{% url 'remove_comment_notification'  %}?next={{request.path}}" method="post">{% csrf_token %}
        <input type="hidden" name="name" value="{{notification_name}}" id="id_name" />
        <input type="hidden" name="app_label" value="{{notification_app_label}}" id="id_app_label" />
        <input type="hidden" name="model" value="{{notification_model}}" id="id_model" />        
        <input type="hidden" name="pk" value="{{notification_pk}}" id="id_pk" />                
        {% trans "Please " %} 
        <input type="submit" value="{% trans "stop" %}"/>                
        {% trans "emailing me new comments on this article." %}        
        </form>    
    {% endif %}    
{% else %} 
    <a href="{% url 'django.contrib.auth.views.login' %}?next={{post.get_absolute_url}}">{% trans "Login" %}</a> {% trans "or" %} 
    <a href="{% url 'registration.views.register' %}?next={{post.get_absolute_url}}">{% trans "register" %}</a> 
    {% trans "to be notified of new comments on this article." %}  
{% endif %}    
</div>
