{% load comments i18n %}
<div id="comment-form">
    <form action="{% if user.is_authenticated %}{% url comments-post-comment-authenticated %}{% else %}{% comment_form_target %}{% endif %}" method="post">{% csrf_token %}
      {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

      {{form.content_type}}
      {{form.object_pk}}
      {{form.timestamp}}
      {{form.security_hash}}
      
      {% if form.name.errors %}{{ form.name.errors }}{% endif %}
      <p {% if not user.is_authenticated %}class="required"{% endif %}>
        {{form.name.label_tag}}<br />{{form.name}}
      </p>
      
      {% if form.email.errors %}{{ form.email.errors }}{% endif %}  
      <p {% if not user.is_authenticated %}class="required"{% endif %}>
        {{form.email.label_tag}}<br />{{form.email}}
      </p>

      {% if form.url.errors %}{{ form.url.errors }}{% endif %}  
      <p>
        {{form.url.label_tag}}<br />{{form.url}}
      </p>

      {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}  
      <p class="required">
        {{form.comment.label_tag}}<br />{{form.comment}}
      </p>

      <p {% if field.errors %} 
        class="error"{% endif %}
        style="display:none;">
        {{form.honeypot}}  
      </p>

      <p>
        <input type="submit" name="post" class="submit-post btn" value="{% trans "Post" %}" />
        <input type="submit" name="preview" class="submit-preview btn" value="{% trans "Preview" %}" />
      </p>
    </form>
</div>
